
/**** BANNER AREA ****/

.site-banner {
  height: 300px;
  background: linear-gradient(rgba($color__brand-dark,1),rgba($color__brand-dark,0.6)), url("../../images/site-banner.jpg") bottom center no-repeat;
  background-size: cover, cover;
  @include desktop {
    height: 100vh;
  }
  h1 {
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
    color: $color__main-basic;
    width: 94%;
    max-width: 400px;
    @include center-block;
    @include desktop {
      padding: 9rem 0 0 2rem;
      width: 46%;
      max-width: unset;
      text-align: right;
      margin: 0;
    }
  }
  p {
    color: $color__main-basic;
    text-align: center;
    width: 94%;
    max-width: 400px;
    @include center-block;
    padding: .5rem;
    @include font-size(1.125);
    @include desktop {
      @include font-size(1.25);
      width: 46%;
      max-width: unset;
      text-align: right;
      margin: 0;
      padding: .5rem 0 .5rem 2rem;
    }
  }
}

/**** SKILLS AREA ****/

/* Intro */

.my-skills {
  border-top: $border__solid;
  .intro {
    background: $color__brand-light-second;
    padding: 2.5rem 1.5rem;
    border-bottom: $border__solid;
    @include tablet {
      padding: 3rem 1.5rem;
    }
    @include desktop {
      padding: 5rem 2rem 7rem 2rem;
      border-bottom: 0;
    }
    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      @include font-size(1.125);
      text-align: center;
      padding: 0 .5rem;
      span {
        font-weight: 600;
      }
      @include tablet {
        @include font-size(1.5);
      }
      @include desktop {
        @include font-size(1.75);
        max-width: 900px;
        @include center-block;
      }
    }
  }
}

/* Skills */

.skills-wrapper {
  background: $color__brand-dark-second;
  padding: 3rem 1.5rem;
  @include desktop {
    display: flex;
    justify-content: space-around;
    padding: 3rem 2rem 6rem 2rem;
  }
  .skills {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: $border__solid;
    @include tablet {
      justify-content: center;
    }
    @include desktop {
      flex-direction: column;
      padding-top: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      border-bottom: 0;
    }
    .scills-img {
      max-width: 120px;
      width: 30%;
      padding: 1rem;
      border-radius: 50%;
      line-height: 1;
      @include tablet {
        max-width: 150px;
        width: unset;
        padding: 0;
      }
      @include desktop {
        max-width: 250px;
        padding: 2rem;
        border-radius: 50%;
        background: $color__brand-dark-second;
        margin-top: -50%;
      }
    }
    .skills-content {
      width: 70%;
      @include tablet {
        width: 30%;
      }
      @include desktop {
        width: 100%;
        text-align: center;
        padding-top: 1.5rem;
        border-top: $border__solid;
        padding-bottom: 1rem;
      }
      li {
        margin-left: 2rem;
        line-height: 1.75;
        color: $color__main-text;
        @include tablet {
          margin-left: 2.5rem;
          @include font-size(1.125);
        }
        @include desktop {
          margin: 0;
        }
      }
    }
  }
}

/**** ABOUT ME AREA ****/

.about-me {
  padding: 2rem 1.5rem;
  @include desktop {
    display: flex;
    padding: 0;
  }
  .my-img {
    width: 100%;
    height: auto;
    display: none;
    background: linear-gradient(rgba($color__brand-dark,.4),rgba($color__brand-dark-second,0.3)), url("../../images/about-bg.jpg") center no-repeat;
    background-size: cover, cover;
    @include desktop {
      display: block;
      width: 50%;
    }
  }
  .about-desription {
    h2 {
      color: $color__brand-light-third;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include desktop {
      padding: 4rem;
      width: 50%;
    }
  }
}