.site-footer {
  background: linear-gradient(rgba($color__brand-dark,1),rgba($color__brand-dark,0.6)), url("../../images/ufo.svg") no-repeat, url("../../images/footer-background.jpg") no-repeat;
  background-size: 100%, 30px, cover;
  background-position: center, 8% 60%, top center;
  height: 400px;
  padding: 1.5rem;
  position: relative;
  @include tablet {
    background-position: center, 8% 60%, center;
    background-size: 100%, 50px, cover;
    padding: 1.5rem 2rem;
  }
  @include desktop {
    padding: 2rem 4rem;
    background-size: 100%, 80px, cover;
  }
  .contacts {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      text-transform: lowercase;
      padding-top: 2rem;
      margin-bottom: .5rem;
      color: $color__main-basic;
      @include tablet {
        @include font-size(3.75);
      }
      @include desktop {
        @include font-size(5);
      }
    }
    .contact-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include tablet {
        flex-direction: row;
      }
      a {
        margin-top: .75rem;
        margin-bottom: .75rem;
        color: $color__main-basic;
        transition: all .2s ease-in-out;
        @include tablet {
          margin-top: 2rem;
          margin-bottom: 0;
          margin-right: 3rem;
          @include font-size(1.15);
          &:last-child {
            margin-right: 0;
          }
        }
        @include desktop {
          @include font-size(1.25);
        }
        span {
          color: $color__main-text;
          margin-left: 1rem;
          transition: all .2s ease-in-out;
        }
        &:hover {
          color: $color__main-text;
          span {
            color: $color__main-basic;
          }
        }
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 10%;
    p {
      color: $color__main-basic;
      @include font-size(.75);
    }
    @include desktop {
      bottom: 2%;
    }
  }
  .icons-copyright {
    margin-top: .25rem;
    color: $color__main-basic;
    position: absolute;
    bottom: 2%;
    @include font-size(.65);
    @include desktop {
      @include font-size(.75);
      margin-top: 0;
      right: 4rem;
    }
    a {
      text-decoration: underline;
      color: $color__main-basic;
    }
  }
}