
.screen-reader{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
  background: #fff; /* Fallback for when there is no custom background color defined. */
  max-width: 1440px;
  @include center-block;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	width: 100%; /* Adhere to container width. */
}