
#menu {
  display: none;
}
.site-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: $text__letter-spacing;
  color: $color__main-basic;
  @include tablet {
    padding: 1.5rem 2rem;
  }
  @include desktop {
    padding: 2rem 4rem;
  }
  .site-nav {
    display: none;
    @include desktop {
      display: block;
      ul {
        li {
          display: inline;
          margin: 0 .75rem 0 .75rem;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            color: $color__main-basic;
            padding: .15rem .25rem;
            transition: all .2s ease-in-out;
            &:hover {
              color: $color__main-text;
            }
          }
        }
        .active {
          a {
            background: $color__main-basic;
            color: $color__brand-dark;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .socials {
    position: absolute;
    right: 1.5rem;
    top: 22%;
    @include tablet {
      right: 2rem;
    }
    @include desktop {
      position: inherit;
    }
    ul {
      li {
        display: inline;
        margin: 0 .5rem 0 .5rem;
        a,
        a:focus,
        a:visited {
          color: $color__main-basic;
          transition: all .2s ease-in-out;
          &:hover {
            color: $color__main-text;
          }
        }
      }
    }
  }
}