
/* REM OUTPUT WITH PX FALLBACK */

@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

/* TABLET WIDTH */

@mixin tablet {
  @media screen and (min-width: $width__tablet) 
  {
    @content;
  }
}

/* DESKTOP WIDTH */

@mixin desktop {
  @media screen and (min-width: $width__desktop) 
  {
    @content;
  }
}

/* CENTER BLOCK */

@mixin center-block {
  margin: 0 auto;
}