.slicknav_btn {
  display: flex;
  justify-content: flex-start;
	cursor: pointer;
	.slicknav_icon-bar + .slicknav_icon-bar {
		margin-top: .188rem;
	}
}
.slicknav_menu {
  @include desktop {
    display: none;
  }
	*zoom: 1;
	.slicknav_menutxt {
		display: block;
	}
	.slicknav_icon {
    width: 1.125rem;
    height: .875rem;
		margin: .35rem 0 0 .5rem;
        &:before { // Firefox Mobile v42 bugfix
            background: transparent;
            width: 1.125rem;
            height: .875rem;
            display: block;
            content: "";
            position: absolute;
        }
	}
	.slicknav_no-text {
		margin: 0;
	}
	.slicknav_icon-bar {
		display: block;
		width: 1.125rem;
		height: .125rem;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
	}
}
.slicknav_nav {
	clear: both;
	ul {
		display: block;
	}
	li {
		display: block;
	}
	a {
		display: block;
	}
}