
.slicknav_menu {
	background: $color__brand-dark;
	width: 50%;
	.slicknav_menutxt {
		color: $color__main-basic;
	}
	.slicknav_icon-bar {
		background-color: $color__main-basic;
	}
}
.slicknav_btn {
	text-decoration: none;
}
.slicknav_nav {
	color: $color__main-basic;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	list-style: none;
	overflow: hidden;
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		li {
			border-top: $border__solid;
			margin: 0 3px;
			&:first-child {
				border-top: 0;
			}
		}
		a {
			text-align: center;
			text-decoration: none;
			color: $color__main-basic;
			padding-top: .5rem;
			padding-bottom: .5rem;
			&:hover {
				background: $color__brand-light-second;
				color: $color__main-text;
			}
		}
	}
}