
/* STRUCTURE */

$base__space-unit: 1.5rem;

/* COLORS */

$color__main-basic: rgb(255, 255, 255);
$color__main-text: rgb(3, 42, 71);
$color__brand-light: rgb(250, 246, 230);
$color__brand-light-second: rgb(229, 228, 240);
$color__brand-light-third: rgb(251, 40, 111);
$color__brand-dark: rgb(98, 169, 199);
$color__brand-dark-second: rgb(166, 208, 224);

/* BORDERS */

$border__solid: 1px solid $color__brand-light;
$border__solid-basic: 1px solid $color__main-basic;
$border__solid-brand: 2px solid $color__brand-dark;

/* TYPOGRAPHY */

$font__main: 'Open Sans', sans-serif;
$font__titles: 'Chelsea Market', sans-serif;
$font__line-height-body: 1.5;
$text__letter-spacing: 3px;

/* SCREENS */

$width__tablet: 600px;
$width__desktop: 1080px;